<table style="width:960px; margin:0 auto; table-layout:fixed;">
	<tr>
		<td colspan="2"></td>
		<td colspan="2"><img></td>
		<td colspan="8" style="font-weight: bold;">Brigham Young Universty-Idaho Student Landlord Housing Contract</td>
	</tr>
</table>
<br/>
<table style="width:960px; margin:0 auto; border-collapse:collapse; table-layout:fixed">
	<tr>
		<td style="border:1px solid black;" colspan="6">Property Name: Windsor Manor</td>
		<td style="border:1px solid black;" colspan="6">Website: windsormanor.net</td>
	</tr>
	<tr>
		<td style="border:1px solid black;" colspan="12">Address: 125 East 2nd South, Rexburg, ID 83440</td>
	</tr>
	<tr>
		<td style="border:1px solid black;" colspan="8">Telephone Number: 208-356-6789</td>
		<td style="border:1px solid black;" colspan="4">Fax Number:</td>
	</tr>
	<tr>
		<td style="border:1px solid black;" colspan="8">Alternate Phone Number:</td>
		<td style="border:1px solid black;" colspan="4">E-mail: managers@windsormanor.net</td>
	</tr>
</table>
<br/>
<table style="width:960px; margin:0 auto; border-collapse:collapse; table-layout:fixed">
	<!-- <tr><td style="border:1px solid black;">1</td><td style="border:1px solid black;">2</td><td style="border:1px solid black;">3</td><td style="border:1px solid black;">4</td><td style="border:1px solid black;">5</td><td style="border:1px solid black;">6</td><td style="border:1px solid black;">7</td><td style="border:1px solid black;">8</td><td style="border:1px solid black;">9</td><td style="border:1px solid black;">10</td><td style="border:1px solid black;">11</td><td style="border:1px solid black;">12</td></tr> -->
	<tr>
		<td style="border:1px solid black;" colspan="6">Students Name: <%= @contract.first_name %></td>
		<td style="border:1px solid black;" colspan="6">BYU-I E-mail: <%= @contract.email %></td>
	</tr>
	<tr>
		<td style="border:1px solid black;" colspan="2">City: <%= @contract.home_city %></td>
		<td style="border:1px solid black;" colspan="2">State: <%= @contract.home_state %></td>
		<td style="border:1px solid black;" colspan="2">Zip: <%= @contract.home_zip %></td>
		<td style="border:1px solid black;" colspan="6">Cell Phone #: <%= @contract.phone %></td>
	</tr>
	<tr>
		<td style="border:1px solid black;" colspan="4">Occupancy Dates</td>
		<td style="border:1px solid black;" colspan="4">Occupancy Start: <%= @semesters.first.start_date %> </td>
		<td style="border:1px solid black;" colspan="4">Occupancy End: <%= @semesters.last.end_date %></td>
	</tr>
	<tr>
		<td style="border:1px solid black;" colspan="3">Type of Apartment/Room</td>
		<td style="border:1px solid black;">&#x25fb; Private</td>
		<td style="border:1px solid black;">&#x2611; Shared</td>
		<td style="border:1px solid black;" colspan="3">&#x25fb; Other (specify)</td>
		<td style="border:1px solid black;" colspan="4">Apt #: <%= @contract.number %></td>
	</tr>
</table>
<br/>
<!-- ===================== Beginning of 2 col layout ===================== -->
<table style="width:960px; margin:0 auto;  table-layout:fixed">
	<tr>
		<td> <!-- ===================== Left col pg 1 ===================== -->
			<table style="table-layout:fixed">
				<tr>
					<td colspan="6">
						I hereby certify that I am a &ldquo;student&rdquo; in good standing and am eligible to rent and reside in BYU-Idaho approved housing. I have been admitted to a track as a student at BYU-Idaho. Online-only and Continuing Education students are not eligible for approved housing. I understand that I cannot live in approved housing prior to my assigned semester start date or after graduation. I recognize and understand that my certification of student status and responsibility to maintain my student eligibility while attending BYU-Idaho is material to and relied upon by Landlord in entering into this rental agreement. I further certify that I am not registered as a sex offender. Any misrepresentation found herein is grounds for immediate termination of this rental agreement and such other legal and equitableLandlord may pursue. (See section 5 for more information.)
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td colspan="4">
						<%= @contract.eligibility_sig %> <br/>
						Student Signature
					</td>
					<td colspan="2">
						<%= @contract.date_created %> <br/>
						Date
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td colspan="6" style="text-decoration:underline; font-weight:bold;">COMPLIANCE WITH APARTMENT LIVING STANDARDS</td>
				</tr>
				<tr>
					<td colspan="6">
						I agree to comply with and acknowledge Landlord’s and my responsibility to maintain the Apartment Living Standards as stated in the BYU-Idaho Approved Housing Guidebook incorporated herein by reference. Students are expected to help their guests and other residents understand and maintain the BYU-Idaho Apartment Living Standards. Failure to meet these expectations can be sufficient cause for termination of this Contract and eviction.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td colspan="4">
						<%= @contract.living_standards_sig %> <br/>
						Student Signature
					</td>
					<td colspan="2">
						<%= @contract.date_created %> <br/>
						Date
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td colspan="6" style="text-decoration:underline; font-weight:bold;">PARKING ACKNOWLEDGEMENT</td>
				</tr>
				<tr>
					<td colspan="6">
						I know and understand that whether or not I own or operate a motor vehicle, 
						I am responsible to know the parking guidelines and requirements of the 
						housing property and abide by them. I also understand that I have a 
						responsibility to reasonably inform guests who visit my apartment of the 
						parking requirements. I understand that if I or any of my guests park illegally 
						(e.g., in a resident’s or handicapped stall for which I or my guest(s) do not 
						have a permit, outside of a designated stall, in a “no parking zone,” etc.), I 
						or my guest(s) accept the risk of being booted or towed.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td colspan="4">
						<%= @contract.parking_ack %> <br/>
						Student Signature
					</td>
					<td colspan="2">
						<%= @contract.date_created %> <br/>
						Date
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
			</table>
		</td>
		<td> <!-- ===================== Right col pg 1 ===================== -->
			<table>
				<tr>
					<td style="text-decoration:underline; font-weight:bold;">
						1. COST OF ACCOMODATIONS &amp; SERVICES
					</td>
				</tr>
				<tr>
					<td>
						<table style="border-collapse:collapse; table-layout:fixed; width:100%;">
							<tr>
								<td style="border:1px solid black;">
									Processing Fee (non-refundable)
								</td>
								<td style="border:1px solid black;">
									$50
								</td>
							</tr>
							<tr>
								<td style="border:1px solid black;">
									Security Deposit (refundable)
								</td>
								<td style="border:1px solid black;">
									$50
								</td>
							</tr>
							<tr>
								<td style="border:1px solid black;">
									Rent
								</td>
								<td style="border:1px solid black;">
									$
								</td>
							</tr>
							<tr>
								<td style="border:1px solid black;">
									Discounts
								</td>
								<td style="border:1px solid black;">
									$
								</td>
							</tr>
							<tr>
								<td style="border:1px solid black;">
									Parking
								</td>
								<td style="border:1px solid black;">
									$
								</td>
							</tr>
							<tr>
								<td style="border:1px solid black;">
									Other
								</td>
								<td style="border:1px solid black;">
									$
								</td>
							</tr>
							<tr>
								<td style="border:1px solid black;">
									Other
								</td>
								<td style="border:1px solid black;">
									$
								</td>
							</tr>
							<tr>
								<td style="border:1px solid black; font-weight:bold;">
									Total
								</td>
								<td style="border:1px solid black; font-weight:bold;">
									$
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td style="text-decoration:underline; font-weight:bold;">
						PAYMENT SCHEDULE*:
					</td>
				</tr>
				<tr>
					<td>
						<table style="border-collapse:collapse; table-layout:fixed; width:100%;">
							<tr>
								<td style="font-weight:bold; border:1px solid black;">
									Date
								</td>
								<td style="border:1px solid black"></td>
								<td style="border:1px solid black"></td>
								<td style="border:1px solid black"></td>
								<td style="border:1px solid black"></td>
							</tr>
							<tr>
								<td style="font-weight:bold; border:1px solid black;">
									Amount
								</td>
								<td style="border:1px solid black">$</td>
								<td style="border:1px solid black">$</td>
								<td style="border:1px solid black">$</td>
								<td style="border:1px solid black">$</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="font-style: italic;">
						*Security deposit and processing fee are due at the time of leasing. Rent
						will be due as indicated in the Payment Schedule.
						plan is available upon request from manager.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">2. <span style="text-decoration:underline">PAYMENT OBLIGATION</span>:</span>
						The undersigned agrees to: (A) assume full,
						legal obligation for payment according to the terms of this Contract; (B) pay 
						late fees in the amount of $__25____ if not paid within 5 days of the due 
						date and interest at _18__% per annum on any past due (unpaid after 30 
						days of the date due) accounts; and (C) pay all costs of collection including 
						reasonable attorney’s fees. For disputes, see section 16.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">3. <span style="text-decoration:underline">SECURITY DEPOSIT</span>:</span>
						The payment of $_50_ serves as a security
						deposit. Those items which may be expensed against the security deposit 
						include: late or unpaid rent, penalties and interest, costs of collection, 
						damage to the premises beyond usual wear and tear, any fees called for 
						under this Contract including cancellation/transfer fees, liquidated damages 
						for cancellation of this Contract as provided for in section 4, and such 
						additional charges as are found in the University-approved addendum.
						<br/>
						<br/>
						Student will be given an itemization of deduction along with the deposit
						balance within 30 days following termination of tenancy. In order to 
						expedite return of the deposit, Student may provide Landlord with a current 
						mailing address and/or a self-addressed, stamped envelope. Any objection 
						to the itemization and returned deposit must be submitted in writing to 
						Landlord within 90 days or all claims are waived.
						concerning the deposit return shall be subject to arbitration.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<td colspan="2"><hr/></td> <!-- ===================== Page break ===================== -->
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<td style="vertical-align: top;"> <!-- ===================== Left col pg 2 ===================== -->
			<table style="table-layout:fixed">
				<tr>
					<td>
						<span style="font-weight:bold;">4. <span style="text-decoration:underline">CANCELLATION/TRANSFER OF CONTRACT PRIOR TO OCCUPANCY START DATE</span>:</span>
						(A) Up to 61 days prior to contract occupancy start date:
						Either party may cancel this Contract by written notice and a $__50____ 
						fee paid by the initiating party. If Landlord initiates the cancellation 
						request, a full refund of all monies paid including the cancellation fee will 
						be returned to Student within 15 days; (B) Within 60 days of occupancy 
						start date: This contract may not be cancelled within 60 days prior to 
						semester occupancy start date unless agreed upon in writing by both 
						parties. Student, however, may find a suitable replacement for his/her 
						Contract. When a suitable replacement is provided (acknowledgement of 
						suitability cannot unreasonably be withheld), Landlord will notify Student 
						in writing of Student’s release of obligation and refund any monies paid 
						minus a $__0_____ transfer fee. If Student is unable to provide a suitable 
						replacement, Landlord may collect for all the obligations contained in this 
						Contract but must demonstrate commercially reasonable efforts to mitigate 
						damages by filling the leased space; (C)
						a semester prior to their assigned track.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">5. <span style="text-decoration:underline">BREACH OF CONTRACT BY STUDENT</span>:</span>
						Student may be in breach of
						Contract for the following reasons: (A) Student voluntarily withdrawing from 
						BYU-Idaho during a semester; (B) Student is required to leave University for 
						violation of the Honor Code, Academic Suspension, or when Student fails to 
						maintain eligibility to live in student-approved housing. (Students who have 
						lost their eligibility cannot continue living in student housing. See “Eligibility 
						for Approved Housing.”); (C) Student fails to make any payment under this 
						contract when due; (D) When cost of damages caused by Student or any 
						guests of Student exceeds the amount of the security deposit; (E) When 
						Student violates the Apartment Living Standards; (F) When Student conduct 
						interferes with other residents’ rights to peaceful enjoyment of the premises, 
						recklessly endangers human life including self, or damages, defaces, or 
						destroys the property of or threatens physical harm against other students 
						or the Landlord; or (G) When Student suffers, permits, or maintains any 
						nuisance or any health or safety hazard on the premises. Student agrees 
						to cover all costs of eviction including legal penalties provided by law and 
						attorney’s fees. Student is under full obligation of this agreement including 
						payment in full unless a suitable replacement can be found as stated in 
						section 4(B).
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">6. <span style="text-decoration:underline">BREACH OF CONTRACT BY LANDLORD</span>:</span>
						Landlord may be in breach
						of Contract for the following reasons: (A) Landlord fails to maintain property 
						according to BYU-Idaho requirements as stated in the Approved Housing 
						Guidebook; (B) Landlord materially misrepresents property on website 
						and/or in written information such as e-mails, flyers, brochures, etc. or (C) 
						Landlord suffers, permits, or maintains any nuisance or any health or safety 
						hazard on the premises. Landlord agrees to release Student from this 
						Contract and cover moving costs. 
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">7. <span style="text-decoration:underline">TERMINATION OF CONTRACT AFTER OCCUPANCY START DATE</span>:</span>
						If there is no breach of Contract by either Student or Landlord as indicated 
						above, this Contract may be terminated for the following reasons upon the 
						agreement of both parties: (1) Unforeseeable and unexpected catastrophic 
						event or serious illness; or (2) Student called into active military duty. In 
						such instances, appropriate verification must be promptly provided to the 
						Landlord. In the event of the death of a Student, Landlord will be notified 
						by family and/or the University. For all reasons stated above, rent will be 
						prorated from the date of notice and the Contract will be terminated without 
						penalty or further obligation. 
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">8. <span style="text-decoration:underline">UNIVERSITY TERMINATION OF APPROVED HOUSING</span>:</span>
						When BYU-Idaho notifies Landlord that the approved housing status of his/her property 
						has been revoked, Student may terminate Contract by written notice within 
						five days. Landlord agrees to remit within five days of the date of the written 
						notice from Student the balance of any prepaid rent and/or deposit monies. 
						Landlord will prorate the rent from the date of checkout.
						amounts that may be expensed against the deposit. 
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">9. <span style="text-decoration:underline">TRANSFER OF STUDENT WITHIN PROPERTY</span>:</span>
						A request for transfer to an apartment/room other than the original assignment may be made by 
						either Landlord or Student using the following process: (A) The initiating 
						party requests either in person or in writing, to the best known address, 
						the reason for the transfer; (B) A written response is due seven days 
						after date of correspondence; (C) Agreement to the reassignment cannot 
						unreasonably be withheld; (D) If no reasonable justification for denying the 
						reassignment is given or no timely response
						request is deemed to have been given. 
					</td>
				</tr>
			</table>
		</td>
		<td style="vertical-align: top;"> <!-- ===================== Right col pg 2 ===================== -->
			<table style="table-layout:fixed">
				<tr>
					<td>
						<span style="font-weight:bold;">10. <span style="text-decoration:underline">HOUSING REGULATIONS</span>:</span>
						Student, his/her guests, on-site managers and
						other employees of the property are required to abide by the BYU-Idaho 
						Honor Code, Apartment Living Standards, and the approved addendum 
						which are incorporated by reference as part of this Contract. Student 
						agrees to notify Landlord of violations of the BYU-Idaho Honor Code 
						or Apartment Living Standards. Failure to comply with the terms of this 
						Contract will be seen as a material breach of this Contract and dealt 
						with accordingly. No modifications of this Contract may be made by 
						interlineations or other writing unless such other
						BYU-Idaho Housing & Student Living Office.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">11. <span style="text-decoration:underline">RIGHTS OF POSSESSION, PRIVACY, AND ENTRY</span>:</span>
						Student will not be unjustly evicted and neither Student nor Landlord will harass 
						or retaliate against the other for any reason. Landlord may not enter 
						Student’s apartment without consent of at least one of the residents or 
						after giving 12-hours notice either delivered to Student or posted in a 
						conspicuous place stating intent to enter. Landlord reserves the right 
						to enter Student apartment or rooms with reasonable notice and after 
						knocking for emergencies, maintenance, repairs, cleaning, inspection, 
						to ensure compliance with the Honor Code, and to show apartment to 
						prospective tenants. Reasonable notice will be deemed given when repairs 
						are requested by Student and Landlord enters at a reasonable time of day 
						and after knocking.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">12. <span style="text-decoration:underline">PROPERTY CONDITION</span>:</span>
						<br/>
						<span style="font-weight:bold;">STUDENT OBLIGATION: </span> 
						Student accepts the premises as being in good order and reasonably clean unless otherwise indicated in writing to Landlord 
						within 48 hours of commencing occupancy. Student agrees to: (A) maintain 
						property in a reasonably clean and safe condition with no alterations of 
						any kind; (B) use reasonable care in consumption of utilities and services; 
						(C) avoid unreasonable noise or other disruption of peaceful enjoyment of 
						others; (D) be responsible for damages caused by him/her or guests which 
						are beyond reasonable wear and tear; and (E) promptly
						writing of maintenance concerns or needed repairs.
						<br/><br/>
						<span style="font-weight:bold;">LANDLORD OBLIGATION: </span> 
						Landlord agrees to: (A) maintain the property in compliance with all applicable state, county, and city laws and codes 
						and the BYU-Idaho Uniform Physical Condition Standards as stated in the 
						Approved Housing Guidebook; (B) provide furnishings and appliances in a 
						safe, clean, and operable condition; (C) respond promptly to emergencies 
						and maintenance requests; and (D) work with due diligence to correct any problems.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">13. <span style="text-decoration:underline">ABANDONED PROPERTY</span>:</span>
						Upon termination of this Contract, Student
						will immediately vacate the premises and remove all Student’s and 
						Student’s guest’s property. Landlord and Student agree that if any personal 
						or Student’s guest’s property is left on the premises or in any storage facility 
						after Contract is terminated, Landlord may assess a maximum handling fee 
						of $150 to dispose of the property. Landlord will make reasonable efforts 
						to contact Student concerning the property and permit Student to enter 
						and remove the property. Landlord may dispose of the property by sale or 
						otherwise after 30 days. Money received from disposing of the property 
						may be applied to outstanding amounts due or offset against the cost of 
						disposal or expense of handling the property.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">14. <span style="text-decoration:underline">PROTECTION OF PERSONAL PROPERTY</span>:</span>
						Student waives all claims against Landlord for personal injury or loss of or damage to clothing, 
						valuables, or other personal property, including money, unless such loss or 
						damage is due to negligence of Landlord. It is recommended that Student 
						carry his/her own renter’s insurance to cover potential personal property 
						losses. Landlord who disposes of personal property belonging to a current 
						Student without permission of Student will reimburse Student for fair market 
						value of item(s).
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">15. <span style="text-decoration:underline">GUESTS</span>:</span>
						Overnight guests are discouraged but may stay with the
						explicit consent of the Landlord and roommates. Extended or excessive 
						number of stays is not permitted. A guest fee may be charged. Guests
						must be the same gender as the other residents and must abide by the
						BYU-Idaho Honor Code and Apartment Living Standards.
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<span style="font-weight:bold;">16. <span style="text-decoration:underline">DISPUTE SETTLEMENT/ARBITRATION</span>:</span>
						Landlord and Student agree to work in good faith toward the resolution of any dispute covered by this 
						Contract. Unresolved disputes may be submitted to binding arbitration 
						outlined in the Approved Housing Guidebook. All parties agree to abide 
						by the decision rendered by the arbitration board including any monetary award made.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/>
<table style="width:960px; margin:0 auto; border-collapse:collapse; table-layout:fixed">
	<tr>
		<td style="border:1px solid black;" colspan="12">
			I acknowledge that I have read and agree with all terms of this Contract including 
			the University-approved addendum (if applicable) incorporated herein by reference.
		</td>
	</tr>
	<tr>
		<td style="border:1px solid black; padding-bottom: 25px" colspan="4">Student Signature: <%= @contract.contract_agreement %></td>
		<td style="border:1px solid black; padding-bottom: 25px" colspan="2">Date: <%= @contract.date_created %></td>
		<td style="border:1px solid black; padding-bottom: 25px" colspan="4">Landlord Signature:</td>
		<td style="border:1px solid black; padding-bottom: 25px" colspan="2">Date:</td>
	</tr>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- ===================== Beginning of addendum ===================== -->
<table style="width:960px; margin:0 auto; border-collapse:collapse; table-layout:fixed">
	<tr>
		<td style="text-align: center; font-weight: bold;">
			<h2>Contract Addendum</h2>
			<hr>
		</td>
	</tr>
	<tr>
		<td>
			<span style="font-weight:bold;">1. CHECK-IN PROCEDURES:</span>
			Prior to check-in, students will receive more information regarding check-in times and dates
			from Windsor Manor. Upon arrival, students are asked to go to the reception area on the ground floor of the turret to receive 
			the necessary check-in paperwork. Students who have not paid for their contract in full will need to add their social security 
			number to their contract. Students who have signed up for a parking contract will need to pay for parking and pick up the 
			permit. The manager will issue an apartment key, an apartment itemized furnishings list to check off and return back to the 
			manager, bike permits if applicable, and a handout with information about the Student Living Meeting (see section 13 of the 
			addendum). Students are responsible for recording any missing or broken items/furnishings in their apartments and reporting 
			them to the management within 48 hours of check-ins. If arriving late for semester check-in, contact the manager to schedule 
			an appointment.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">2. CHECKOUT PROCEDURES:</span>
			Students must schedule their checkout time with the manager at least three days prior to the
			official checkout day. Failure to do so will require the student to checkout at the manager’s convenience. Students must leave 
			their apartment immediately after having officially been checked out. A proper checkout includes the student successfully 
			completing his/her white-glove cleaning assignment (see section 5 of this addendum), returning his/her keys and parking 
			permit, removing all personal belongings out of the apartment before the official checkout, leaving a stamped self-addressed 
			envelope with the manager, notifying the manager of any broken items, and completing the checkout process with the 
			manager.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">3. DAMAGES/CHARGES:</span>
			Students are liable for any damage to the apartments and will be charged the expense to replace or
			repair damaged item. When more than one person is involved, each person will share in the expense. When student knows 
			who is responsible for any damage, he/she should furnish such information to the manager. This will insure the deposit 
			amounts are kept to a minimum.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">4. HOUSEKEEPING:</span>
			Students are required to maintain order and cleanliness in their living accommodations at all times. There
			will be a regular weekly apartment check. Student will supply his/her own cleaning products to clean the apartment including 
			soap, trash bags, and other basic products used in running an apartment. If housekeeping falls below the standard set by the 
			manager, any necessary cleaning may be done by the complex. The student(s) responsible will be charged an hourly fee of $20 
			(1 hour minimum) for the cleaning service. If any student refuses to participate in the weekly clean checks, there will be a $20 
			fee per hour charged.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">5. WHITE GLOVE:</span>
			When students checkout of their apartment, their apartment must be “white-glove” clean. The white-glove
			inspection is part of the checkout procedure. A pre white-glove meeting will be held with clear instructions on how to perform 
			the white-glove cleaning. If a student has not satisfactorily cleaned his/her assignment, the student will be charged $20 an 
			hour to have a representative of Windsor Manor finish the white-glove cleaning
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">6. FIRE/SAFETY:</span>
			Decorations should not be attached to the ceiling or near window coverings. All burning embers, such
			as incense, lit candles, and open flames are prohibited. The fire alarm system connects directly to the Rexburg City Fire 
			Department. When the alarm sounds, they are immediately notified and respond. The Rexburg City Fire Marshal will assess 
			fines and/or press charges for tampering with fire extinguishers or alarms. Student will also be responsible for the cost of 
			restoring the system and any damage caused by water, smoke, or fire due to negligence on the student’s part.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">7. FURNITURE/APPLIANCES:</span>
			Please keep furniture in regularly assigned areas. No furniture may be moved out of the
			apartment to which it is assigned or common area furnishings moved around without management approval. Used furniture 
			and furniture from outside are not permitted to be brought into the complex in order to prevent potential bed bug and other 
			infestations.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">8. COMMON AREAS:</span>
			Common areas include study rooms, conference rooms, libraries, fitness room, dance studio/activity
			room, practice/music rooms, theater room, storage rooms, kitchenettes, balconies, garden areas, common seating areas, 
			and main reception area. Common areas are available by reservation or on a first-come, first-served basis. Student will be 
			held financially responsible for any damages guest(s) may cause. Please report any common area damage to management 
			through a maintenance request found on the Windsor Manor website. Common areas must be returned to their original state 
			upon completion of any gathering. Common area furniture and items must be left in the common areas. Please return any 
			recreational equipment that was checked out to the manager and turn off any BBQ, fireplace, or fire-pit when leaving. Personal 
			items cannot be stored in the common areas. Management reserves the right to remove any and all objectionable items and 
			nuisances. Any property abandoned in the common areas may be available in the lost and found and is only available for 
			pickup during office hours.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">9. KEYS:</span>
			The manager will issue keys to apartments and the mailbox at check-in. Students are advised to keep their apartments
			locked at all times when not occupied. Windsor Manor is not responsible for items stolen or any damage done. No keys are to 
			be duplicated by anyone except the complex. Key replacement cost is $15 and the cost to re-key a door is $50.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">10. LINEN:</span>
			Students need to bring their own sheets, pillows, pillowcases, blankets, bedspreads (full/queen size bedspreads are
			nice for more coverage on 30” tall beds), shower curtain, towels, and mattress cover. (Mattress covers are mandatory and can 
			be purchased from management for $10.)
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">11. TOILETS:</span>
			Please do not flush anything down the toilet that is not made to be flushed and will decompose quickly. This
			includes not flushing feminine supplies, Q-tips, cleansing/baby wipes, Kleenex, paper towels, etc. You will be financially 
			responsible for all costs resulting from any damage or cleaning of plugged toilets that overflow due to improperly flushed 
			material.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">12. MAIL SERVICE:</span>
			As soon as possible after arrival at BYU-Idaho, inform parents, friends, etc., of your correct address. The address is:
			<br/>
			<br/>
			125 East 2nd South #1-203 (Apt. number shown is example only.)
			<br/>
			(The 1 is for Building 1 = Women, and Building 2 = Men-- followed by room #.)
			<br/>
			<br/>
			<span style="font-style: italic">When checking out, be sure to fill out a Change of Address Form at the Post Office.</span>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">13. MEETINGS:</span>
			At the beginning of the semester, a Student Living Meeting will be held to teach and share principles consistent
			with successful apartment living. At the end of each semester, a complex-wide meeting will be held explaining checkout and 
			white-glove procedures. <span style="font-weight: bold; text-decoration: underline"> All students will be held accountable for any information discussed or distributed in the meetings 
				whether or not they attend.</span>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">14. OCCUPANCY:</span>
			The contract starts and ends on the dates listed on the contract. Apartments usually will not be ready for
			occupancy before the first day of the contract. Students who need to come early or stay after the contract end date need to 
			check with the manager to see if their bed is available. Students staying outside of the contract dates will pay $20 per day in 
			advance.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">15. PARKING:</span>
			Students bringing cars must have a parking contract and get a parking permit from the manager at check-in.
			Parking permit fees are listed above. <span style="font-weight: bold; text-decoration: underline"> Parking is at a premium and parking permits are given on a first-come, first-served basis. 
				We highly advise leaving cars at home if possible due to our incredible location and close proximity to BYU-I classrooms. If 
				you do need a parking spot, on the first page of this contract, please request a parking stall.</span> Tandem parking is available 
			for friends and/or roommates who are both tenants of Windsor Manor. Tandem parking is when two stalls are placed one in 
			front of the other; essentially, a 36 foot deep stall for two full-size cars. Access to the car parked in front is necessary to be 
			coordinated between the two students. For the inconvenience, the tandem parking stalls have been reduced in price and are 
			available both in the covered and non-covered areas. Levels 1 and 2 of the parking garage are covered parking and Level 3 (top) 
			is uncovered open-air parking.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">16. BIKES:</span>
			Bike rooms are provided just inside Building 1 on the 2nd
			and in Building 2 off the second floor of the parking garage in the elevator lobby area. Students bringing a bike must pick up a 
			bike permit from the manager when checking in. Students need to provide their own lock and understand that Windsor Manor 
			is not responsible in the event of theft or damage. Bikes are not allowed in any corridor, apartment, common area, or parked in 
			any area outside of the designated bike rooms and bike racks.
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<span style="font-weight:bold;">17. STORAGE:</span>
			Long-term storage lockers are available for students to use when they are off-track, on an internship, or needing
			to store belongings during the breaks between semesters provided they have a current and future contract at Windsor Manor. 
			These lockers are free on a first-come, first-served basis, but for the maximum time of one semester. Windsor Manor will 
			provide locks. Students are asked to only put items in the lockers that are either in sealed boxes or plastic containers with lids 
			clearly marked with name, phone number, date of return, and apartment number chosen upon return.
		</td>
	</tr>
</table>
