.col-md-6
  %h2
    Total Costs
  %table.table.table-hover
    %thead
      %tr
        %th
          Line Item
        %th
          Amount
    %tbody
      %tr
        %td
          Application Fee (Non-Refundable)
        %td
          = number_to_currency(@application_fee)
      %tr
        %td
          Deposit (Refundable)
        %td
          = number_to_currency(@deposit)
      %tr
        %td
          Rent ( x 
          = @semesters.count
          Semesters )
        %td
          = number_to_currency(@rent_sum)
      %tr
        %td
          Parking: 
          = @contract.parking_type
        %td
          = number_to_currency(@parking_price)
      %tr
        %td
          Discounts
        %td
          \-
          = number_to_currency(@discounts_total)
    %tfoot
      %tr
        %td
          %strong
            Total
        %td
          %strong
            = number_to_currency(@total)
