= form_for @contract, class: 'form-horizontal', role: 'form' do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |msg|
          %li= msg

  %input{type: :hidden, value: @building.id, name: :building_id}
  %h2
    Your Information
  .form-group
    = f.label :first_name, 'First Name', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.text_field :first_name, class: ['form-control', 'col-md-5']
  .form-group
    = f.label :last_name, 'Last Name', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.text_field :last_name, class: ['form-control', 'col-md-5']
  .form-group
    = f.label :school_email, 'School Email', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.email_field :email, class: ['form-control', 'col-md-5']

  %h2
    Your Apartment

  .form-group
    = f.label :apartment, class: ['col-md-2', 'control-label']
    .col-md-10
      = f.select :apartment, options_from_collection_for_select(@apartments, 'id', 'number'), {}, class: 'form-control'

  .form-group
    = f.label :room_type, 'Room Type', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.select :room_type, ['Shared', 'Private'], {}, class: 'form-control'

  .form-group
    = f.label :semester, class: ['col-md-2', 'control-label']
    .col-md-10
      = f.select :semester, options_from_collection_for_select(@semesters, 'id', 'name'), {}, class: 'form-control'

  .form-group
    = f.label :parking_type, 'Parking Type', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.select :parking_type, ['None', 'Uncovered', 'Covered'], {}, class: 'form-control'

  .row
    %h2
      Your Home Address
  .form-group
    = f.label :home_address_1, 'Home Address 1', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.text_field :home_address_1, class: ['form-control', 'col-md-5']

  .form-group
    = f.label :home_address_2, 'Home Address 2', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.text_field :home_address_2, class: ['form-control', 'col-md-5']

  .form-group
    = f.label :home_city, 'Home City', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.text_field :home_city, class: ['form-control', 'col-md-5']

  .form-group
    = f.label :home_state, 'Home State', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.text_field :home_state, class: ['form-control', 'col-md-5']

  .form-group
    = f.label :home_zip, 'Home Zip', class: ['col-md-2', 'control-label']
    .col-md-10
      = f.text_field :home_zip, class: ['form-control', 'col-md-5']

  .actions
    = f.submit 'Save'
