/= render inline: @contract.to_json << "<br/>" << params.inspect
.col-md-6
  %h2
    Base Costs
  %table.table.table-hover
    %thead
      %tr
        %th
          Line Item
        %th
          Amount
    %tbody
      %tr
        %td
          Application Fee (Non-Refundable)
        %td
          = number_to_currency(@application_fee)
      %tr
        %td
          Deposit (Refundable)
        %td
          = number_to_currency(@deposit)
      %tr
        %td
          Rent ( x 
          = @semester.duration
          Semesters )
        %td
          = number_to_currency(@rent * @semester.duration)
      %tr
        %td
          Parking: 
          = @contract.parking_type
        %td
          = number_to_currency(@parking_price)
    %tfoot
      %tr
        %td
          %strong
            Total
        %td
          %strong
            = number_to_currency(@total)

.col-md-6
  %h2
    Discounts
  %table.table.table-hover
    %thead
      %tr
        %th
          Discount
        %th
          Amount
    %tbody
      %tr
        %td
          Early Bird
        %td
          \-
          = number_to_currency(@early_bird_sum)
      - unless @contract.euro.empty?
        %tr
          %td
            Euro
          %td
            \- 
            = number_to_currency(50)
      - if @semester.duration > 1
        %tr
          %td
            Multiple Semesters
          %td
            \-
            = number_to_currency(@multiple_semesters[1])

.col-md-12
  %h2
    Payment Schedule
  %table.table.table-hover
    %thead
      %tr
        %th
          Due Date
        %th
          Now
        - @semester.contract_durations.each do |duration|
          %th
            = duration.payment_due.to_formatted_s(:long)
    %tbody
      %tr
        %td
          Amount
        %td
          = number_to_currency(@application_fee) 
          Application Fee
          %br
          = number_to_currency(@deposit) 
          Deposit
        - @semester.contract_durations.each_with_index do |duration, index|
          %td
            = number_to_currency(@rent)
            Rent 
            %br
            = number_to_currency(@parking[index])
            Parking
            %br
            - unless @multiple_semesters[index] == 0
              - multiple_semesters = @multiple_semesters[index]
              \-
              = number_to_currency(multiple_semesters)
              Multiple Semesters
              %br
            - unless index != 0 or @contract.euro.empty?
              \-
              = number_to_currency(50)
              Euro Discount
              %br
            \-
            - early_bird = @early_bird[index]
            = number_to_currency(early_bird)
            Early Bird
      %tfoot
        %tr
          %td
            %strong
              Total
          %td
            %strong
              = number_to_currency(@application_fee + @deposit)
          - @semester.contract_durations.each_with_index do |duration, index|
            %td
              %strong
                - debugger
                - total = @rent + @parking[index] - @early_bird[index] - @multiple_semesters[index]
                - unless @contract.euro.empty?
                  - total -= 50
                = number_to_currency(total)
              

  = button_to 'Check Out!', root_path,  class: ['btn', 'btn-primary', 'col-sm-2']
