/ Main jumbotron for a primary marketing message or call to action
.container-fluid
	.row.image
		= image_tag 'building_cropped.png'
		.marketing-bar
			= @marketing_text
	
	= render 'landing/availability_bar'

	.tiles
		#complex-tile.tile
			= link_to complex_path, class: :"inner-tile" do
				.tile-overlay
					%h3 Complex
		#apartments-tile.tile
			= link_to apartments_path, class: :"inner-tile" do
				.tile-overlay
					%h3 Apartments
		#contracts-tile.tile
			= link_to tenant_path, class: :"inner-tile" do
				.tile-overlay
					%h3 Contracts
.container.visible-xs
	.marketing-bar
		%h2.text-center
			= @marketing_text
	/= render 'news'
	#social.row
		%h3.col-md-12.text-center Follow us on
		#social-icons.col-md-12
			.cntr.fit-width
				%a{:href => ""}
					= image_tag 'facebook.png'
				%a{:href => ""}
					= image_tag 'twitter.png'
	%hr/
	%footer
		.cntr.fit-width
			%a(href="mailto:managers@windsormanor.net?Subject=Windsor%20Manor%20" target="_top")
				<span class="contact_manager">Contact the manager</span>
		%p.text-center &copy; Windsor Manor 2014
