= form_for @amenity do |f|
	- if @amenity.errors.any?
		#error_explanation
			%h2= "#{pluralize(@amenity.errors.count, "error")} prohibited this amenity from being saved:"
			%ul
				- @amenity.errors.full_messages.each do |msg|
					%li= msg

	.row
		= label_tag :image, 'Image'
		= cl_image_upload_tag('amenity[image_id]', crop: :limit, width: 600, height: 400)
		.progress
			.progress-bar#progress-bar{role: :'progressbar', style: 'width: 0%;'}
		.preview
	.row
		= f.label :title
		= f.text_field :title
	.row
		= f.label :description
		= f.text_area :description
	.actions
		= f.submit 'Save'
