.container
	.row
		%h1 Listing amenities

	.row
		%table.table.table-hover
			%tr
				%th Title
				%th Description
				%th
				%th
				%th

			- @amenities.each do |amenity|
				%tr
					%td= amenity.title
					%td= amenity.description
					%td= link_to 'Show', amenity
					%td= link_to 'Edit', edit_amenity_path(amenity)
					%td= link_to 'Destroy', amenity, :method => :delete, :data => { :confirm => 'Are you sure?' }


	.row
		= link_to 'New Amenity', new_amenity_path, class: [:btn, :'btn-primary']
