%p#notice= notice

%p
  %b Contract:
  = @contract_text.contract
%p
  %b Living standards:
  = @contract_text.living_standards
%p
  %b Parking acknowledgement:
  = @contract_text.parking_acknowledgement
%p
  %b Eligibility:
  = @contract_text.eligibility
%p
  %b Addendum:
  = @contract_text.addendum
