.dashboard
  %h1
    Admin Dashboard

  = link_to 'View Contracts', contracts_path, class: ['btn', 'btn-primary']
  = link_to 'Set Marketing Text', edit_text_path, class: ['btn', 'btn-primary']
  = link_to 'Semesters', semesters_path, class: ['btn', 'btn-primary']
  = link_to 'Contract Text', contract_texts_path, class: ['btn', 'btn-primary'] 
  = link_to 'Amenities', amenities_path, class: ['btn', 'btn-primary'] 
  = link_to 'Study Rooms', study_rooms_path, class: ['btn', 'btn-primary'] 
