= form_for @maintenance do |f|
	- if @maintenance.errors.any?
		#error_explanation
			%h2= "#{pluralize(@maintenance.errors.count, "error")} prohibited this maintenance from being saved:"
			%ul
				- @maintenance.errors.full_messages.each do |msg|
					%li= msg

	.row
		.form-group
			= f.label :tenant_name, 'Your Name', class: [:'col-md-2']
			.col-md-10
				= f.text_field :tenant_name, :required => true, class: [:'form-control']
	.row
		.form-group
			= f.label :tenant_phone, 'Your Phone', class: [:'col-md-2']
			.col-md-10
				= f.text_field :tenant_phone, :required => true, class: [:'form-control']
	.row
		.form-group
			= f.label :building_id, class: [:'col-md-2']
			.col-md-10
				= f.select :building_id, options_from_collection_for_select(@buildings, :'id', :'name'), {}, class: [:'form-control']

	.row
		= f.label :location, class: [:'col-md-2']
		.col-md-10
			= f.text_field :location, :required => true, class: [:'form-control']
	.row
		= f.label :description, class: [:'col-md-2']
		.col-md-10
			= f.text_area :description, :required => true, class: [:'form-control']
	.row
		= f.submit 'Submit', class: [:btn, :'btn-primary']
