%p#notice= notice

%p
  %b Number:
  = @apartment.number
%p
  %b Bed count:
  = @apartment.bed_count
%p
  %b Floor:
  = @apartment.floor
%p
  %b Building:
  = @apartment.building.name

= link_to 'Edit', edit_apartment_path(@apartment)
\|
= link_to 'Back', building_apartments_path(@building)
