<!DOCTYPE html>
<html>
<head>
<title>Wmrails</title>
<%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<meta name="viewport", content="width=device-width, user-scalable=yes" />
<link href='https://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render partial: '/layouts/navbar_landing' %>
<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
